<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
<div class="col-12">
    <h1 class="display-3">Greet me</h1>

</div>
<form class="needs-validation" action="/greet" method="post" novalidate>
    <div class="form-row">
        <div class="col-md-6-mb-3">
<!--            <label for="validationCustom04">LANGUAGES</label>-->
            <input type="text" name="username">
            <input type="radio" name="language" value="Isixhosa">Isixhosa
            <input type="radio" name="language" value="English">English


            <button type="submit" class="btn btn-primary my-1">Greet</button>
            <button type="reset" class="btn btn-primary my-1">Clear</button>

            <br>
            <span>Names greeted {{counter}}</span>
        </div>
    </div>
<div class="col-sm-4">
    <h2>Counter {{counter}}</h2>
</div>
</form>

    {{greeting}}
    <div>
        <ul>
            {{#each users}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

</div>
</body>


</html>